.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
  /* min-height: 100vh; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 80%;
    margin: auto;
    height: 5rem;
}

.footer {
  display: flex;
  font-size: small;
  padding: 1.4rem 0;
  /* margin-top: -80px; */
  /* border-top: 1px solid #eaeaea; */
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 1.4em;
    position: absolute;
    top: -1.1rem;
    left: -3px;
    background-color: white;
    padding-right: 0.8rem;
}

.submitbutton {
    background-color: white;
    border: 3px solid black;
    padding: 1rem; 
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
    bottom: -1.7rem;
    right: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.submitbutton:hover {
    transform: scale(1.08);
}

.submitbutton:active {
    transform: scale(1.0);
}

.navitem {
    padding-right: 2rem;
}

.rankingrow {
    width: 16rem;
    height: 3rem;
}

.colorbox {
    width: 12rem;
    height: 12rem;

    outline: 4px solid black;
    transition: all 0.2s ease;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  /* transition-timing-function: ease; */
}

/* .footer a { */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: center; */
/*   flex-grow: 1; */
/* } */

/* .title a { */
/*   color: #0070f3; */
/*   text-decoration: none; */
/* } */

/* .title a:hover, */
/* .title a:focus, */
/* .title a:active { */
/*   text-decoration: underline; */
/* } */

/* .title { */
/*   margin: 0; */
/*   line-height: 1.15; */
/*   font-size: 4rem; */
/* } */

/* .title, */
/* .description { */
/*   text-align: center; */
/* } */

/* .description { */
/*   margin: 4rem 0; */
/*   line-height: 1.5; */
/*   font-size: 1.5rem; */
/* } */

/* .code { */
/*   background: #fafafa; */
/*   border-radius: 5px; */
/*   padding: 0.75rem; */
/*   font-size: 1.1rem; */
/*   font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, */
/*     Bitstream Vera Sans Mono, Courier New, monospace; */
/* } */

/* .grid { */
/*   display: flex; */
/*   align-items: center; */
/*   justify-content: center; */
/*   flex-wrap: wrap; */
/*   max-width: 800px; */
/* } */

/* .card { */
/*   margin: 1rem; */
/*   padding: 1.5rem; */
/*   text-align: left; */
/*   color: inherit; */
/*   text-decoration: none; */
/*   border: 1px solid #eaeaea; */
/*   border-radius: 10px; */
/*   transition: color 0.15s ease, border-color 0.15s ease; */
/*   max-width: 300px; */
/* } */

/* .card:hover, */
/* .card:focus, */
/* .card:active { */
/*   color: #0070f3; */
/*   border-color: #0070f3; */
/* } */

/* .card h2 { */
/*   margin: 0 0 1rem 0; */
/*   font-size: 1.5rem; */
/* } */

/* .card p { */
/*   margin: 0; */
/*   font-size: 1.25rem; */
/*   line-height: 1.5; */
/* } */

/* .logo { */
/*   height: 1em; */
/*   margin-left: 0.5rem; */
/* } */

/* @media (max-width: 600px) { */
/*   .grid { */
/*     width: 100%; */
/*     flex-direction: column; */
/*   } */
/* } */

/* @media (prefers-color-scheme: dark) { */
/*   .card, */
/*   .footer { */
/*     border-color: #222; */
/*   } */
/*   .code { */
/*     background: #111; */
/*   } */
/*   .logo img { */
/*     filter: invert(1); */
/*   } */
/* } */
